<ng-container>
  <app-base>
        <div class="row">
            <button type="button" class="btn btn-link btn-sm bg-success text-white" (click)="navigateBack()"><- Back</button> 
        </div>
        
          <table class="table table-bordered bg-primary text-white">
            <tr>
              <td>#</td>
              <td>Name</td>
              <td>Is Done?</td>
            </tr>
            <tr *ngFor="let task of tasks">
              <td>{{task.id}}</td>
              <td>{{task.name}}</td>
              <td>
                <a class="btn btn-info">{{task.status}}</a>
              </td>
              <td>
                <a routerLink="/tasks/{{task.id}}/">Details</a> 
              </td>
            </tr>
        </table>
  </app-base>
</ng-container>
