<style>
  td a{
  color:white;
}
</style>
<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
  <a routerLink="/" class="navbar-brand ml-auto">Lab#11 To-Do</a> 
   <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/task_lists" class="nav-link">Task Lists</a> 
      </li>
      <li class="nav-item">
        <a routerLink="/tasks/2" class="nav-link">Tasks</a> 
      </li>
    </ul> 
</nav>

<br>
<div class="container">
  <div class="row justify-content-center">
          <div class="container col-md-6">
          <ng-content></ng-content>
          </div>
  </div>
</div>

